.container {
    font-size: medium;
    color: blue;
    font-weight: bold;
}

#counter {
    color: brown;
}

all {
    align-items: center;
}

#head {
    background-color: aqua;
    color: blueviolet;

}